// color
$color-white: #fff;
$linear-primary: linear-gradient(to right bottom , #BE93C5, #7BC6CC);
$color-primary: #4AC29A;
$color-secondary: #BE93C5;

// font style
$poppins: 'Poppins', sans-serif;
$openSans: 'Open Sans', sans-serif;